body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.name-highlight{
    color:orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,tomato,salmon);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.half-width{
    width: 37%;
    margin: 3%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
.dream-area{
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.latest-work{
    background-color: rgb(247, 241, 241);
}
.latest-heading{
    padding-top: 50px;
    text-align: center;
}
.work-highlight{
    color: #ff6347;
}

.working-project{
    background-color: white;
    box-shadow:10px 10px 40px gray;
    border-radius: 10px;
    width: 20%;
    margin-left: 7%;
    padding: 2%;
    float: left;
}
.working-project img{
    width: 100%;
}

.work-inq{
    margin: 15%;
    background-image: url("shape/img1.png");
    width: 66%;
    height: 41%;
    background-size: cover;
}

.work-inq h1{
    color: white;
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
    float:left;
}
.work-inq a{
    color: white;
    margin-right: 5%;
    padding: 2%;
    border-radius: 5px;
    margin-top:10%;
    background-image: linear-gradient(45deg, tomato, salmon);

    float: right;
}
.contact-area{
    width: 100%;
    text-align: center;
}
.contact-area h3,h2{
    color: dimgray;
}
.contact-icon img{
    width: 5%;
    height: 5%;
}